<h1><%= @configuration_segment.title %></h1>
<h2>Список учреждений</h2>
<table>
  <tr>
    <th>Название</th>
    <th>Адрес</th>
    <th>Телефон</th>
    <th>Email</th>
  </tr>
  <% @configuration_segment.items.each do |item| %>
    <tr>
      <%= render partial: 'items/item', locals: {item: item} %>
    </tr>
  <% end %>
</table>
<%= link_to "back", mine_configuration_path(@configuration_segment.configuration.mine, @configuration_segment.configuration) %>

