<div>
  <ul>
    <li>Поле: <%= configuration_parameter.title %></li>
    <li>Тип:  <%= configuration_parameter.kind_text %></li>
    <li>Вес:  <%= configuration_parameter.weight %></li>
  </ul>
</div>
