<div>
 <h2>Configurations:(<%= link_to "new configuration", new_mine_configuration_path(@mine) %>)</h2>
  <%= render @mine.configurations %>
</div>
<div>
  <h2>Groupings:(<%= link_to "new grouping", new_mine_grouping_path(@mine) %>)</h2>
  <%= render @mine.groupings %>
</div>
