<div>
  <%= link_to segment.title, mine_configuration_segment_path(@mine, @configuration, segment) %>
  <%= link_to 'edit', edit_mine_configuration_segment_path(@mine, @configuration, segment) %>
  <%= link_to 'delete', mine_configuration_segment_path(@mine, @configuration, segment), :method => :delete, :confirm => 'Вы уверены?' %>
</div>
