<h1>Список учреждений</h1>
<table>
  <tr>
    <th>Название</th>
    <th>Адрес</th>
    <th>Телефон</th>
    <th>Email</th>
  </tr>
  <% @grouping_segment.items.each do |item| %>
    <tr>
      <%= render partial: 'items/item', locals: {item: item} %>
    </tr>
  <% end %>
</table>
<%= link_to "back", mine_grouping_grouping_segments_path(@mine, @grouping) %>
