<div class='groupings_table'>
  <table>
    <tr>
      <td colspan=2>
        <%= grouping_parameter.title %>: <%= grouping_parameter.kind_text %>
        <%= link_to "edit", edit_mine_grouping_grouping_parameter_path(@mine, @grouping, grouping_parameter) %>
      </td>
    </tr>
    <%= render grouping_parameter.grouping_values %>
  </table>
</div>
